body {
}

.header {
    display: flex;
    margin: 50px 0;
    min-height: 200px;
}

.header__inner-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto auto;    
    height: 50%;
    padding: 0 10% 0 5%;
    max-width: 1200px;
}

.header__inner-div div {
    flex: 1 1 280px;
}

.header__title {
    font-family: 'PT Serif', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
    margin: 0 0;

    margin-inline-end: 10%;
    margin-block-end: 0.67em;

    flex: 1 0 276px;
}

.header__subtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
}

.header__text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}


.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(2, minmax(min-content, 500px));
    grid-auto-rows: 500px;
    margin: 0 auto;
    padding: 0 10% 0 5%;
    gap: 5% 5%;
    max-width: 1200px;
    
}

.content__member {
    display: flex;
}

.content__member-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;  
}

.content__member-rol {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    padding-left: 3%;
}

.content__member-photo {
    width: 240px;
    height: 350px;
}

.footer {
    padding: 24px;
}

.footer__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    text-align: center;

    color: #A9A9A9;
}

.footer__text n {
    font-weight: 700;
}

.footer__text a:link {
    color: #A9A9A9;
}

.footer__text a:visited {
    color: #A9A9A9;
}

@media screen and (max-width: 400px) {
    .header__text {
        font-size: 14px;
        line-height: 21px;
    }
}

@media screen and (min-width: 997px) {
    .content__member:nth-child(2) {
        align-self: end;
    }
    
    .content__member:nth-child(5) {
        align-self: end;
    }
}

@media screen and (max-width: 997px) {
    .content__member:nth-child(2) {
        align-self: end;
    }
    
    .content__member:nth-child(4) {
        align-self: end;
    }

    .content__member:nth-child(6) {
        align-self: end;
    }
}

@media screen and (max-width: 750px) {
    .content__member-name {
        font-size: 14px;
    }

    .content__member-rol {
        font-size: 10px;
    }

    .content__member-photo {
        width: 140px;
        height: 210px;
    }
}